@inherits LayoutComponentBase


<div class="main">
    <div class="top-row px-6" style="min-height: 109px; background-color: white">
        <img src="/images.png" style="margin-left: 25px" />
    </div>
    <div id="page-container">
        <div id="content-wrap">
            <div class="content px-4" style="min-height: 70%">
                @Body
            </div>
        </div>
        <footer class="footer">
            <div class="container" style="margin-left: 13px; z-index: 1;">
                <span style="color: white; font-size: x-large;">ChattingBallers</span>
            </div>
        </footer>
    </div>


</div>
